::-moz-selection {
  background: #9A5AED;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #9A5AED;
  color: #fff;
  text-shadow: none;
}

.animation {
  bottom: 33px;
}

#mainContent {
  border: 1px solid #ddd;
  padding: 20px 40px 20px;
  background-color: white;
  @include border-bottom-left-radius(2000px 50px);
  @include border-bottom-right-radius(50px 2000px);
  @include box-shadow(rgba(0,0,0,.5) 0 0 20px 1px);
}

.sprite-tweet-bird {
    height: 80px;
  }

.tooltip-list li {
  list-style-type: circle;
  line-height: 2.7em;
}

#twitter_update_list {
  list-style: none;
  margin-left: 110px;
  padding: 15px;
  width: 500px;
  word-wrap: break-word;
  position: relative;
  @include single-transition(width, .3s, ease-in-out);
  &::before {
    content:'';
    display: inline-block;
    border-top: 10px solid transparent;
    border-right: 10px solid #D9EDF7;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 27%;
    z-index: 2;
  }
  &::after {
    content:'';
    display: inline-block;
    border-top: 11px solid transparent;
    border-right: 11px solid #BCE8F1;
    border-bottom: 11px solid transparent;
    position: absolute;
    left: -12px;
    top: 27%;
    z-index: 1;
  }
  &:hover {
    width: 700px;
  }
  a {
    color: #555;
  }
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

#skillSlide {
  padding: 10px 31px;
  border: 1px solid #ddd;
  max-width: 498px;
  @include box-shadow(rgba(0,0,0,0.3) 0px 7px 20px -2px);
  img {
    max-width: 100%;
  }
}

.fig {
  padding: 10px;
  float: left;
  background: white;
  @include box-shadow(rgba(0,0,0,0.3) 0 0 10px 3px);
}

footer {
  text-align: center;
}

@media (max-width: 979px) {
  .sprite-tweet-bird {
    height: auto;
  }
  #twitter_update_list { 
    width:45%;
    @include single-transition(none);
    &:hover {
      width: 45%;
    }
  }
}

// About.html
header {
  h1 {
    font-size: 45px;
    color: #444;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
}

.sect {
  p{ 
    font-size: 14px;
    padding: 0 20px;
    overflow: hidden;
  }
  figure {
    margin: 0;
    width: 200px;
    height: 200px;
    position: relative;
    background: image-url("D.png") no-repeat top left;
    figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: image-url("D.png") no-repeat top right;
      @include single-transition(opacity, 0.4s, linear);
      @include opacity(0);
    }
    &:hover figcaption {
      @include opacity(1);
    }
  }
}

