body {
  background: image-url("farmer.png") #E8E9E4;
  padding: 60px 25px 25px;
}

body, p{
  font-family: Georgia, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-fixed-top .brand {
  font-weight: bold;
  color: #000;
  line-height: 21px;
  @include text-shadow(rgba(255,255,255,.1) 1px 1px 0 , rgba(255,255,255,.125) 0 0 30px);
}

.hero-unit {
  background: #e3e3e3;
  @include diagonal-gradient();
  border: 1px solid #ccc;
  position: relative;
  h1 {
  	font-size: 40px;
  }
}

.navbar .nav.pills{
  margin: 5px 0;
  li { margin: 0 5px; }
  a {
    padding: 6px 10px;
    @include border-radius(10px);
    &:hover {
      background-color: #4c4c4c;
    }
  }
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #0c0c0c;
}

.icon-white {
	background-image: image-url("glyphicons-halflings-white.png");
}

.row-fluid {
  margin: 10px auto;
  [class*="span"] p {
    font-size: 15px;
  }
}

.carousel-control {
  top: 50%;
}