@import url('bootstrap.css');
@import url('../js/google-code-prettify/prettify.css');

body {
  background:url(../images/farmer.png) #E8E9E4;
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.animation {
  background-image: url("../images/skills.png");
  background-repeat:no-repeat;
  width:195px;
  height:196px;
  position:relative;
  margin:0 auto;
}

.sphere {
  width:20px;
  height:20px;
  position:absolute;
  background:black;
  border-radius:50%;
  left:30px;
  top:30px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41NCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 83%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.54)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 83%,rgba(0,0,0,0.65) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 83%,rgba(0,0,0,0.65) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 83%,rgba(0,0,0,0.65) 100%);
  background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 83%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );

  animation: blink 4s infinite ease-in-out;
  -webkit-animation: blink 4s infinite ease-in-out;
  -moz-animation: blink 4s infinite ease-in-out;
}

@keyframes blink{
  5% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  10% {
    left:60px;
    top:58px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  15% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  20% {
    left:88px;
    top:88px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  25% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  30% {
    left:118px;
    top:118px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  35% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  40% {
    left:148px;
    top:150px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  45% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  50% {
    left:174px;
    top:174px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  55% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  60% {
    left:148px;
    top:150px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  65% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  70% {
    left:118px;
    top:118px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  75% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  80% {
    left:88px;
    top:88px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  85% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  90% {
    left:60px;
    top:58px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  95% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
}

@-webkit-keyframes blink  /* Safari and Chrome */ {
    5% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  10% {
    left:60px;
    top:58px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  15% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  20% {
    left:88px;
    top:88px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  25% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  30% {
    left:118px;
    top:118px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  35% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  40% {
    left:148px;
    top:150px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  45% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  50% {
    left:174px;
    top:174px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  55% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  60% {
    left:148px;
    top:150px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  65% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  70% {
    left:118px;
    top:118px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  75% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  80% {
    left:88px;
    top:88px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  85% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  90% {
    left:60px;
    top:58px;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  95% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
}

@-moz-keyframes blink /* Firefox */ {
  5% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  10% {
    left:60px;
    top:58px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  15% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  20% {
    left:88px;
    top:88px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  25% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  30% {
    left:118px;
    top:118px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  35% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  40% {
    left:148px;
    top:150px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  45% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  50% {
    left:174px;
    top:174px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  55% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  60% {
    left:148px;
    top:150px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  65% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  70% {
    left:118px;
    top:118px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  75% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  80% {
    left:88px;
    top:88px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  85% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
  90% {
    left:60px;
    top:58px;
    transform: scale(1);
    -moz-transform: scale(1);
  }
  95% {
    transform: scale(0.2);
    -moz-transform: scale(0.2);
  }
}






